

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               
             
            </h3>

            <!--                    <a class="btn btn-default " href="../../php/category/add_category.php" role="button">New Category</a>-->

            <?php if (isset($_SESSION["user_id"])&$_SESSION["user_role"]==1) {
            echo " <a class='btn btn-default' role='button' href='../../php/category/add_category.php '> New Category</a>";
            }
            ?>
            <table class="table table-condensed table-hover" cellpadding="10" cellspacing="10">
                <thead>
                    <tr>

                        <th style="width: 20% ; text-align: center;">
                            Title
                        <th style="width: 60% ; text-align: center;">

                            Description
                        </th>
                      <?php if (isset($_SESSION["user_id"])&$_SESSION["user_role"]==1) {


                        echo"       <th style='width: 10% ; text-align: center;'>

                        Action
                        </th>";
                       } ?>
                    </tr>
                </thead>
                <tbody>



