

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3>
                       <?php  echo topicName($topic_id); ?>
                    </h3>

                  
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th style="width: 20%; text-align: center;" >
                                    Author
                                </th>
                                <th style="width: 60% ; text-align: center;">
                                    Message
                                </th>
<!--                                <th style="width: 20% ; text-align: center;">
                                    Action
                                </th>-->
                        <?php if (isset($_SESSION["user_id"])) {


                        echo"       <th style='width: 20% ; text-align: center;'>

                        Action
                        </th>";
                       } ?>
                            </tr>
                        </thead>
                        <tbody>
                           
                            
                   
