     
<form role="form" style="width: 70%" action="#" method="post">
    <div class="form-group" >
        <label for="body">Body</label>

        <textarea class="form-control" id="body" name="body" style="height: 200px"><?php echo $body; ?></textarea>
    </div>
    <input type="hidden" name="id" value= <?php  echo $id; ?>>
    <button type="submit" class="btn btn-default" name="submit">Comment</button>
</form>






