
                        <div class="row clearfix">
                            <div class="col-md-12 column" style="width:50%; height:100%;">
                                <form role="form" action="#" method="post">
                                    <div class="form-group">
                                        <label for="fname">First Name</label>&nbsp
                                        <span class="error">* <?php echo $fnameErr; ?></span>
                                        <input type="text" class="form-control" name="fname" value="<?php echo $fname;?>" />

                                    </div>

                                    <div class="form-group">
                                        <label for="lname">Last Name</label>&nbsp
                                        <span class="error">* <?php echo $lnameErr;?></span>
                                        <input type="text" class="form-control" name="lname" value="<?php echo $lname;?>" />

                                    </div>

                                    <div class="form-group">
                                        <label for="uname">Username</label>&nbsp
                                        <span class="error">* <?php echo $unameErr;?></span>
                                        <input type="text" class="form-control" name="uname" value="<?php echo $uname;?>" >

                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email address</label>&nbsp
                                        <span class="error">* <?php echo $emailErr;?></span>
                                        <input type="email" class="form-control" name="email" id="email" value="<?php echo $email;?>" />

                                    </div>

                                    <div class="form-group">
                                        <label for="pswd">Password</label>&nbsp
                                        <span class="error">* <?php echo $pwErr;?></span>
                                        <input type="password" class="form-control" name="pswd" id="pswd" value="<?php echo $pswd;?>" />

                                    </div>

                                    <div class="form-group">
                                        <label for="country">Country</label>&nbsp
                                        <span class="error">* <?php echo $countryErr;?></span>
                                        <select class="form-control" name="country" id="country" value="<?php echo $country;?>" >
                                            <!--<option value="">Country...</option>-->
                                            <option value="Afganistan" <?php echo (isset($country) && $country == 'Afganistan')?'selected="selected"':''; ?>>Afghanistan</option>
                                            <option value="Albania" <?php echo (isset($country) && $country == 'Albania')?'selected="selected"':''; ?>>Albania</option>
                                            <option value="Algeria" <?php echo (isset($country) && $country == 'Algeria')?'selected="selected"':''; ?>>Algeria</option>
                                            <option value="American Samoa" <?php echo (isset($country) && $country == 'American Samoa')?'selected="selected"':''; ?>>American Samoa</option>
                                            <option value="Andorra" <?php echo (isset($country) && $country == 'Andorra')?'selected="selected"':''; ?>>Andorra</option>
                                            <option value="Angola" <?php echo (isset($country) && $country == 'Angola')?'selected="selected"':''; ?>>Angola</option>
                                            <option value="Anguilla" <?php echo (isset($country) && $country == 'Anguilla')?'selected="selected"':''; ?>>Anguilla</option>
                                            <option value="Antigua &amp; Barbuda" <?php echo (isset($country) && $country == 'Antigua &amp; Barbuda')?'selected="selected"':''; ?>>Antigua &amp; Barbuda</option>
                                            <option value="Argentina" <?php echo (isset($country) && $country == 'Argentina')?'selected="selected"':''; ?>>Argentina</option>
                                            <option value="Armenia" <?php echo (isset($country) && $country == 'Armenia')?'selected="selected"':''; ?>>Armenia</option>
                                            <option value="Aruba" <?php echo (isset($country) && $country == 'Aruba')?'selected="selected"':''; ?>>Aruba</option>
                                            <option value="Australia" <?php echo (isset($country) && $country == 'Australia')?'selected="selected"':''; ?>>Australia</option>
                                            <option value="Austria" <?php echo (isset($country) && $country == 'Austria')?'selected="selected"':''; ?>>Austria</option>
                                            <option value="Azerbaijan" <?php echo (isset($country) && $country == 'Azerbaijan')?'selected="selected"':''; ?>>Azerbaijan</option>
                                            <option value="Bahamas" <?php echo (isset($country) && $country == 'Bahamas')?'selected="selected"':''; ?>>Bahamas</option>
                                            <option value="Bahrain" <?php echo (isset($country) && $country == 'Bahrain')?'selected="selected"':''; ?>>Bahrain</option>
                                            <option value="Bangladesh" <?php echo (isset($country) && $country == 'Bangladesh')?'selected="selected"':''; ?>>Bangladesh</option>
                                            <option value="Barbados" <?php echo (isset($country) && $country == 'Barbados')?'selected="selected"':''; ?>>Barbados</option>
                                            <option value="Belarus" <?php echo (isset($country) && $country == 'Belarus')?'selected="selected"':''; ?>>Belarus</option>
                                            <option value="Belgium" <?php echo (isset($country) && $country == 'Belgium')?'selected="selected"':''; ?>>Belgium</option>
                                            <option value="Belize" <?php echo (isset($country) && $country == 'Belize')?'selected="selected"':''; ?>>Belize</option>
                                            <option value="Benin" <?php echo (isset($country) && $country == 'Benin')?'selected="selected"':''; ?>>Benin</option>
                                            <option value="Bermuda" <?php echo (isset($country) && $country == 'Bermuda')?'selected="selected"':''; ?>>Bermuda</option>
                                            <option value="Bhutan" <?php echo (isset($country) && $country == 'Bhutan')?'selected="selected"':''; ?>>Bhutan</option>
                                            <option value="Bolivia" <?php echo (isset($country) && $country == 'Bolivia')?'selected="selected"':''; ?>>Bolivia</option>
                                            <option value="Bonaire" <?php echo (isset($country) && $country == 'Bonaire')?'selected="selected"':''; ?>>Bonaire</option>
                                            <option value="Bosnia &amp; Herzegovina" <?php echo (isset($country) && $country == 'Bosnia &amp; Herzegovina')?'selected="selected"':''; ?>>Bosnia &amp; Herzegovina</option>
                                            <option value="Botswana" <?php echo (isset($country) && $country == 'Botswana')?'selected="selected"':''; ?>>Botswana</option>
                                            <option value="Brazil" <?php echo (isset($country) && $country == 'Brazil')?'selected="selected"':''; ?>>Brazil</option>
                                            <option value="British Indian Ocean Ter" <?php echo (isset($country) && $country == 'British Indian Ocean Ter')?'selected="selected"':''; ?>>British Indian Ocean Ter</option>
                                            <option value="Brunei" <?php echo (isset($country) && $country == 'Brunei')?'selected="selected"':''; ?>>Brunei</option>
                                            <option value="Bulgaria" <?php echo (isset($country) && $country == 'Bulgaria')?'selected="selected"':''; ?>>Bulgaria</option>
                                            <option value="Burkina Faso" <?php echo (isset($country) && $country == 'Burkina Faso')?'selected="selected"':''; ?>>Burkina Faso</option>
                                            <option value="Burundi" <?php echo (isset($country) && $country == 'Burundi')?'selected="selected"':''; ?>>Burundi</option>
                                            <option value="Cambodia" <?php echo (isset($country) && $country == 'Cambodia')?'selected="selected"':''; ?>>Cambodia</option>
                                            <option value="Cameroon" <?php echo (isset($country) && $country == 'Cameroon')?'selected="selected"':''; ?>>Cameroon</option>
                                            <option value="Canada" <?php echo (isset($country) && $country == 'Canada')?'selected="selected"':''; ?>>Canada</option>
                                            <option value="Canary Islands" <?php echo (isset($country) && $country == 'Canary Islands')?'selected="selected"':''; ?>>Canary Islands</option>
                                            <option value="Cape Verde" <?php echo (isset($country) && $country == 'Cape Verde')?'selected="selected"':''; ?>>Cape Verde</option>
                                            <option value="Cayman Islands" <?php echo (isset($country) && $country == 'Cayman Islands')?'selected="selected"':''; ?>>Cayman Islands</option>
                                            <option value="Central African Republic" <?php echo (isset($country) && $country == 'Central African Republic')?'selected="selected"':''; ?>>Central African Republic</option>
                                            <option value="Chad" <?php echo (isset($country) && $country == 'Chad')?'selected="selected"':''; ?>>Chad</option>
                                            <option value="Channel Islands" <?php echo (isset($country) && $country == 'Channel Islands')?'selected="selected"':''; ?>>Channel Islands</option>
                                            <option value="Chile" <?php echo (isset($country) && $country == 'Chile')?'selected="selected"':''; ?>>Chile</option>
                                            <option value="China" <?php echo (isset($country) && $country == 'China')?'selected="selected"':''; ?>>China</option>
                                            <option value="Christmas Island" <?php echo (isset($country) && $country == 'Christmas Island')?'selected="selected"':''; ?>>Christmas Island</option>
                                            <option value="Cocos Island" <?php echo (isset($country) && $country == 'Cocos Island')?'selected="selected"':''; ?>>Cocos Island</option>
                                            <option value="Colombia" <?php echo (isset($country) && $country == 'Colombia')?'selected="selected"':''; ?>>Colombia</option>
                                            <option value="Comoros" <?php echo (isset($country) && $country == 'Comoros')?'selected="selected"':''; ?>>Comoros</option>
                                            <option value="Congo" <?php echo (isset($country) && $country == 'Congo')?'selected="selected"':''; ?>>Congo</option>
                                            <option value="Cook Islands" <?php echo (isset($country) && $country == 'Cook Islands')?'selected="selected"':''; ?>>Cook Islands</option>
                                            <option value="Costa Rica" <?php echo (isset($country) && $country == 'Costa Rica')?'selected="selected"':''; ?>>Costa Rica</option>
                                            <option value="Cote DIvoire" <?php echo (isset($country) && $country == 'Cote DIvoire')?'selected="selected"':''; ?>>Cote D'Ivoire</option>
                                            <option value="Croatia" <?php echo (isset($country) && $country == 'Croatia')?'selected="selected"':''; ?>>Croatia</option>
                                            <option value="Cuba" <?php echo (isset($country) && $country == 'Cuba')?'selected="selected"':''; ?>>Cuba</option>
                                            <option value="Curaco" <?php echo (isset($country) && $country == 'Curaco')?'selected="selected"':''; ?>>Curacao</option>
                                            <option value="Cyprus" <?php echo (isset($country) && $country == 'Cyprus')?'selected="selected"':''; ?>>Cyprus</option>
                                            <option value="Czech Republic" <?php echo (isset($country) && $country == 'Czech Republic')?'selected="selected"':''; ?>>Czech Republic</option>
                                            <option value="Denmark" <?php echo (isset($country) && $country == 'Denmark')?'selected="selected"':''; ?>>Denmark</option>
                                            <option value="Djibouti" <?php echo (isset($country) && $country == 'Djibouti')?'selected="selected"':''; ?>>Djibouti</option>
                                            <option value="Dominica" <?php echo (isset($country) && $country == 'Dominica')?'selected="selected"':''; ?>>Dominica</option>
                                            <option value="Dominican Republic" <?php echo (isset($country) && $country == 'Dominican Republic')?'selected="selected"':''; ?>>Dominican Republic</option>
                                            <option value="East Timor" <?php echo (isset($country) && $country == 'East Timor')?'selected="selected"':''; ?>>East Timor</option>
                                            <option value="Ecuador" <?php echo (isset($country) && $country == 'Ecuador')?'selected="selected"':''; ?>>Ecuador</option>
                                            <option value="Egypt" <?php echo (isset($country) && $country == 'Egypt')?'selected="selected"':''; ?>>Egypt</option>
                                            <option value="El Salvador" <?php echo (isset($country) && $country == 'El Salvador')?'selected="selected"':''; ?>>El Salvador</option>
                                            <option value="Equatorial Guinea" <?php echo (isset($country) && $country == 'Equatorial Guinea')?'selected="selected"':''; ?>>Equatorial Guinea</option>
                                            <option value="Eritrea" <?php echo (isset($country) && $country == 'Eritrea')?'selected="selected"':''; ?>>Eritrea</option>
                                            <option value="Estonia" <?php echo (isset($country) && $country == 'Estonia')?'selected="selected"':''; ?>>Estonia</option>
                                            <option value="Ethiopia" <?php echo (isset($country) && $country == 'Ethiopia')?'selected="selected"':''; ?>>Ethiopia</option>
                                            <option value="Falkland Islands" <?php echo (isset($country) && $country == 'Falkland Islands')?'selected="selected"':''; ?>>Falkland Islands</option>
                                            <option value="Faroe Islands" <?php echo (isset($country) && $country == 'Faroe Islands')?'selected="selected"':''; ?>>Faroe Islands</option>
                                            <option value="Fiji" <?php echo (isset($country) && $country == 'Fiji')?'selected="selected"':''; ?>>Fiji</option>
                                            <option value="Finland" <?php echo (isset($country) && $country == 'Finland')?'selected="selected"':''; ?>>Finland</option>
                                            <option value="France" <?php echo (isset($country) && $country == 'France')?'selected="selected"':''; ?>>France</option>
                                            <option value="French Guiana" <?php echo (isset($country) && $country == 'French Guiana')?'selected="selected"':''; ?>>French Guiana</option>
                                            <option value="French Polynesia" <?php echo (isset($country) && $country == 'French Polynesia')?'selected="selected"':''; ?>>French Polynesia</option>
                                            <option value="French Southern Ter" <?php echo (isset($country) && $country == 'French Southern Ter')?'selected="selected"':''; ?>>French Southern Ter</option>
                                            <option value="Gabon" <?php echo (isset($country) && $country == 'Gabon')?'selected="selected"':''; ?>>Gabon</option>
                                            <option value="Gambia" <?php echo (isset($country) && $country == 'Gambia')?'selected="selected"':''; ?>>Gambia</option>
                                            <option value="Georgia" <?php echo (isset($country) && $country == 'Georgia')?'selected="selected"':''; ?>>Georgia</option>
                                            <option value="Germany" <?php echo (isset($country) && $country == 'Germany')?'selected="selected"':''; ?>>Germany</option>
                                            <option value="Ghana" <?php echo (isset($country) && $country == 'Ghana')?'selected="selected"':''; ?>>Ghana</option>
                                            <option value="Gibraltar" <?php echo (isset($country) && $country == 'Gibraltar')?'selected="selected"':''; ?>>Gibraltar</option>
                                            <option value="Great Britain" <?php echo (isset($country) && $country == 'Great Britain')?'selected="selected"':''; ?>>Great Britain</option>
                                            <option value="Greece" <?php echo (isset($country) && $country == 'Greece')?'selected="selected"':''; ?>>Greece</option>
                                            <option value="Greenland" <?php echo (isset($country) && $country == 'Greenland')?'selected="selected"':''; ?>>Greenland</option>
                                            <option value="Grenada" <?php echo (isset($country) && $country == 'Grenada')?'selected="selected"':''; ?>>Grenada</option>
                                            <option value="Guadeloupe" <?php echo (isset($country) && $country == 'Guadeloupe')?'selected="selected"':''; ?>>Guadeloupe</option>
                                            <option value="Guam" <?php echo (isset($country) && $country == 'Guam')?'selected="selected"':''; ?>>Guam</option>
                                            <option value="Guatemala" <?php echo (isset($country) && $country == 'Guatemala')?'selected="selected"':''; ?>>Guatemala</option>
                                            <option value="Guinea" <?php echo (isset($country) && $country == 'Guinea')?'selected="selected"':''; ?>>Guinea</option>
                                            <option value="Guyana" <?php echo (isset($country) && $country == 'Guyana')?'selected="selected"':''; ?>>Guyana</option>
                                            <option value="Haiti" <?php echo (isset($country) && $country == 'Haiti')?'selected="selected"':''; ?>>Haiti</option>
                                            <option value="Hawaii" <?php echo (isset($country) && $country == 'Hawaii')?'selected="selected"':''; ?>>Hawaii</option>
                                            <option value="Honduras" <?php echo (isset($country) && $country == 'Honduras')?'selected="selected"':''; ?>>Honduras</option>
                                            <option value="Hong Kong" <?php echo (isset($country) && $country == 'Hong Kong')?'selected="selected"':''; ?>>Hong Kong</option>
                                            <option value="Hungary" <?php echo (isset($country) && $country == 'Hungary')?'selected="selected"':''; ?>>Hungary</option>
                                            <option value="Iceland" <?php echo (isset($country) && $country == 'Iceland')?'selected="selected"':''; ?>>Iceland</option>
                                            <option value="India" <?php echo (isset($country) && $country == 'India')?'selected="selected"':''; ?>>India</option>
                                            <option value="Indonesia" <?php echo (isset($country) && $country == 'Indonesia')?'selected="selected"':''; ?>>Indonesia</option>
                                            <option value="Iran" <?php echo (isset($country) && $country == 'Iran')?'selected="selected"':''; ?>>Iran</option>
                                            <option value="Iraq" <?php echo (isset($country) && $country == 'Iraq')?'selected="selected"':''; ?>>Iraq</option>
                                            <option value="Ireland" <?php echo (isset($country) && $country == 'Ireland')?'selected="selected"':''; ?>>Ireland</option>
                                            <option value="Isle of Man" <?php echo (isset($country) && $country == 'Isle of Man')?'selected="selected"':''; ?>>Isle of Man</option>
                                            <option value="Israel" <?php echo (isset($country) && $country == 'Israel')?'selected="selected"':''; ?>>Israel</option>
                                            <option value="Italy" <?php echo (isset($country) && $country == 'Italy')?'selected="selected"':''; ?>>Italy</option>
                                            <option value="Jamaica" <?php echo (isset($country) && $country == 'Jamaica')?'selected="selected"':''; ?>>Jamaica</option>
                                            <option value="Japan" <?php echo (isset($country) && $country == 'Japan')?'selected="selected"':''; ?>>Japan</option>
                                            <option value="Jordan" <?php echo (isset($country) && $country == 'Jordan')?'selected="selected"':''; ?>>Jordan</option>
                                            <option value="Kazakhstan" <?php echo (isset($country) && $country == 'Kazakhstan')?'selected="selected"':''; ?>>Kazakhstan</option>
                                            <option value="Kenya" <?php echo (isset($country) && $country == 'Kenya')?'selected="selected"':''; ?>>Kenya</option>
                                            <option value="Kiribati" <?php echo (isset($country) && $country == 'Kiribati')?'selected="selected"':''; ?>>Kiribati</option>
                                            <option value="Korea North" <?php echo (isset($country) && $country == 'Korea North')?'selected="selected"':''; ?>>Korea North</option>
                                            <option value="Korea Sout" <?php echo (isset($country) && $country == 'Korea Sout')?'selected="selected"':''; ?>>Korea South</option>
                                            <option value="Kuwait" <?php echo (isset($country) && $country == 'Kuwait')?'selected="selected"':''; ?>>Kuwait</option>
                                            <option value="Kyrgyzstan" <?php echo (isset($country) && $country == 'Kyrgyzstan')?'selected="selected"':''; ?>>Kyrgyzstan</option>
                                            <option value="Laos" <?php echo (isset($country) && $country == 'Laos')?'selected="selected"':''; ?>>Laos</option>
                                            <option value="Latvia" <?php echo (isset($country) && $country == 'Latvia')?'selected="selected"':''; ?>>Latvia</option>
                                            <option value="Lebanon" <?php echo (isset($country) && $country == 'Lebanon')?'selected="selected"':''; ?>>Lebanon</option>
                                            <option value="Lesotho" <?php echo (isset($country) && $country == 'Lesotho')?'selected="selected"':''; ?>>Lesotho</option>
                                            <option value="Liberia" <?php echo (isset($country) && $country == 'Liberia')?'selected="selected"':''; ?>>Liberia</option>
                                            <option value="Libya" <?php echo (isset($country) && $country == 'Libya')?'selected="selected"':''; ?>>Libya</option>
                                            <option value="Liechtenstein" <?php echo (isset($country) && $country == 'Liechtenstein')?'selected="selected"':''; ?>>Liechtenstein</option>
                                            <option value="Lithuania" <?php echo (isset($country) && $country == 'Lithuania')?'selected="selected"':''; ?>>Lithuania</option>
                                            <option value="Luxembourg" <?php echo (isset($country) && $country == 'Luxembourg')?'selected="selected"':''; ?>>Luxembourg</option>
                                            <option value="Macau" <?php echo (isset($country) && $country == 'Macau')?'selected="selected"':''; ?>>Macau</option>
                                            <option value="Macedonia" <?php echo (isset($country) && $country == 'Macedonia')?'selected="selected"':''; ?>>Macedonia</option>
                                            <option value="Madagascar" <?php echo (isset($country) && $country == 'Madagascar')?'selected="selected"':''; ?>>Madagascar</option>
                                            <option value="Malaysia" <?php echo (isset($country) && $country == 'Malaysia')?'selected="selected"':''; ?>>Malaysia</option>
                                            <option value="Malawi" <?php echo (isset($country) && $country == 'Malawi')?'selected="selected"':''; ?>>Malawi</option>
                                            <option value="Maldives" <?php echo (isset($country) && $country == 'Maldives')?'selected="selected"':''; ?>>Maldives</option>
                                            <option value="Mali" <?php echo (isset($country) && $country == 'Mali')?'selected="selected"':''; ?>>Mali</option>
                                            <option value="Malta" <?php echo (isset($country) && $country == 'Malta')?'selected="selected"':''; ?>>Malta</option>
                                            <option value="Marshall Islands" <?php echo (isset($country) && $country == 'Marshall Islands')?'selected="selected"':''; ?>>Marshall Islands</option>
                                            <option value="Martinique" <?php echo (isset($country) && $country == 'Martinique')?'selected="selected"':''; ?>>Martinique</option>
                                            <option value="Mauritania" <?php echo (isset($country) && $country == 'Mauritania')?'selected="selected"':''; ?>>Mauritania</option>
                                            <option value="Mauritius" <?php echo (isset($country) && $country == 'Mauritius')?'selected="selected"':''; ?>>Mauritius</option>
                                            <option value="Mayotte" <?php echo (isset($country) && $country == 'Mayotte')?'selected="selected"':''; ?>>Mayotte</option>
                                            <option value="Mexico"<?php echo (isset($country) && $country == 'Mexico')?'selected="selected"':''; ?>>Mexico</option>
                                            <option value="Midway Islands" <?php echo (isset($country) && $country == 'Midway Islands')?'selected="selected"':''; ?>>Midway Islands</option>
                                            <option value="Moldova" <?php echo (isset($country) && $country == 'Moldova')?'selected="selected"':''; ?>>Moldova</option>
                                            <option value="Monaco"  <?php echo (isset($country) && $country == 'Monaco')?'selected="selected"':''; ?>>Monaco</option>
                                            <option value="Mongolia" <?php echo (isset($country) && $country == 'Mongolia')?'selected="selected"':''; ?>>Mongolia</option>
                                            <option value="Montserrat" <?php echo (isset($country) && $country == 'Montserrat')?'selected="selected"':''; ?>>Montserrat</option>
                                            <option value="Morocco" <?php echo (isset($country) && $country == 'Morocco')?'selected="selected"':''; ?>>Morocco</option>
                                            <option value="Mozambique" <?php echo (isset($country) && $country == 'Mozambique')?'selected="selected"':''; ?>>Mozambique</option>
                                            <option value="Myanmar" <?php echo (isset($country) && $country == 'Myanmar')?'selected="selected"':''; ?>>Myanmar</option>
                                            <option value="Nambia" <?php echo (isset($country) && $country == 'Nambia')?'selected="selected"':''; ?>>Nambia</option>
                                            <option value="Nauru" <?php echo (isset($country) && $country == 'Nauru')?'selected="selected"':''; ?>>Nauru</option>
                                            <option value="Nepal" <?php echo (isset($country) && $country == 'Nepal')?'selected="selected"':''; ?>>Nepal</option>
                                            <option value="Netherland Antilles" <?php echo (isset($country) && $country == 'Netherland Antilles')?'selected="selected"':''; ?>>Netherland Antilles</option>
                                            <option value="Netherlands" <?php echo (isset($country) && $country == 'Netherlands')?'selected="selected"':''; ?>>Netherlands (Holland, Europe)</option>
                                            <option value="Nevis" <?php echo (isset($country) && $country == 'Nevis')?'selected="selected"':''; ?>>Nevis</option>
                                            <option value="New Caledonia" <?php echo (isset($country) && $country == 'New Caledonia')?'selected="selected"':''; ?>>New Caledonia</option>
                                            <option value="New Zealand" <?php echo (isset($country) && $country == 'New Zealand')?'selected="selected"':''; ?>>New Zealand</option>
                                            <option value="Nicaragua" <?php echo (isset($country) && $country == 'Nicaragua')?'selected="selected"':''; ?>>Nicaragua</option>
                                            <option value="Niger" <?php echo (isset($country) && $country == 'Niger')?'selected="selected"':''; ?>>Niger</option>
                                            <option value="Nigeria" <?php echo (isset($country) && $country == 'Nigeria')?'selected="selected"':''; ?>>Nigeria</option>
                                            <option value="Niue" <?php echo (isset($country) && $country == 'Niue')?'selected="selected"':''; ?>>Niue</option>
                                            <option value="Norfolk Island" <?php echo (isset($country) && $country == 'Norfolk Island')?'selected="selected"':''; ?>>Norfolk Island</option>
                                            <option value="Norway" <?php echo (isset($country) && $country == 'Norway')?'selected="selected"':''; ?>>Norway</option>
                                            <option value="Oman" <?php echo (isset($country) && $country == 'Oman')?'selected="selected"':''; ?>>Oman</option>
                                            <option value="Pakistan" <?php echo (isset($country) && $country == 'Pakistan')?'selected="selected"':''; ?>>Pakistan</option>
                                            <option value="Palau Island" <?php echo (isset($country) && $country == 'Palau Island')?'selected="selected"':''; ?>>Palau Island</option>
                                            <option value="Palestine" <?php echo (isset($country) && $country == 'Palestine')?'selected="selected"':''; ?>>Palestine</option>
                                            <option value="Panama" <?php echo (isset($country) && $country == 'Panama')?'selected="selected"':''; ?>>Panama</option>
                                            <option value="Papua New Guinea" <?php echo (isset($country) && $country == 'Papua New Guinea')?'selected="selected"':''; ?>>Papua New Guinea</option>
                                            <option value="Paraguay" <?php echo (isset($country) && $country == 'Paraguay')?'selected="selected"':''; ?>>Paraguay</option>
                                            <option value="Peru" <?php echo (isset($country) && $country == 'Peru')?'selected="selected"':''; ?>>Peru</option>
                                            <option value="Phillipines" <?php echo (isset($country) && $country == 'Phillipines')?'selected="selected"':''; ?>>Philippines</option>
                                            <option value="Pitcairn Island" <?php echo (isset($country) && $country == 'Pitcairn Island')?'selected="selected"':''; ?>>Pitcairn Island</option>
                                            <option value="Poland" <?php echo (isset($country) && $country == 'Poland')?'selected="selected"':''; ?>>Poland</option>
                                            <option value="Portugal" <?php echo (isset($country) && $country == 'Portugal')?'selected="selected"':''; ?>>Portugal</option>
                                            <option value="Puerto Rico" <?php echo (isset($country) && $country == 'Puerto Rico')?'selected="selected"':''; ?>>Puerto Rico</option>
                                            <option value="Qatar" <?php echo (isset($country) && $country == 'Qatar')?'selected="selected"':''; ?>>Qatar</option>
                                            <option value="Republic of Montenegro" <?php echo (isset($country) && $country == 'Republic of Montenegro')?'selected="selected"':''; ?>>Republic of Montenegro</option>
                                            <option value="Republic of Serbia" <?php echo (isset($country) && $country == 'Republic of Serbia')?'selected="selected"':''; ?>>Republic of Serbia</option>
                                            <option value="Reunion" <?php echo (isset($country) && $country == 'Reunion')?'selected="selected"':''; ?>>Reunion</option>
                                            <option value="Romania" <?php echo (isset($country) && $country == 'Romania')?'selected="selected"':''; ?>>Romania</option>
                                            <option value="Russia" <?php echo (isset($country) && $country == 'Russia')?'selected="selected"':''; ?>>Russia</option>
                                            <option value="Rwanda"<?php echo (isset($country) && $country == 'Rwanda')?'selected="selected"':''; ?>>Rwanda</option>
                                            <option value="St Barthelemy" <?php echo (isset($country) && $country == 'St Barthelemy')?'selected="selected"':''; ?>>St Barthelemy</option>
                                            <option value="St Eustatius" <?php echo (isset($country) && $country == 'St Eustatius')?'selected="selected"':''; ?>>St Eustatius</option>
                                            <option value="St Helena" <?php echo (isset($country) && $country == 'St Helena')?'selected="selected"':''; ?>>St Helena</option>
                                            <option value="St Kitts-Nevis" <?php echo (isset($country) && $country == 'St Kitts-Nevis')?'selected="selected"':''; ?>>St Kitts-Nevis</option>
                                            <option value="St Lucia" <?php echo (isset($country) && $country == 'St Lucia')?'selected="selected"':''; ?>>St Lucia</option>
                                            <option value="St Maarten" <?php echo (isset($country) && $country == 'St Maarten')?'selected="selected"':''; ?>>St Maarten</option>
                                            <option value="St Pierre &amp; Miquelon" <?php echo (isset($country) && $country == 'St Pierre &amp; Miquelon')?'selected="selected"':''; ?>>St Pierre &amp; Miquelon</option>
                                            <option value="St Vincent &amp; Grenadines" <?php echo (isset($country) && $country == 'St Vincent &amp; Grenadines')?'selected="selected"':''; ?>>St Vincent &amp; Grenadines</option>
                                            <option value="Saipan" <?php echo (isset($country) && $country == 'Saipan')?'selected="selected"':''; ?>>Saipan</option>
                                            <option value="Samoa" <?php echo (isset($country) && $country == 'Samoa')?'selected="selected"':''; ?>>Samoa</option>
                                            <option value="Samoa American" <?php echo (isset($country) && $country == 'Samoa American')?'selected="selected"':''; ?>>Samoa American</option>
                                            <option value="San Marino" <?php echo (isset($country) && $country == 'San Marino')?'selected="selected"':''; ?>>San Marino</option>
                                            <option value="Sao Tome &amp; Principe" <?php echo (isset($country) && $country == 'Sao Tome &amp; Principe')?'selected="selected"':''; ?>>Sao Tome &amp; Principe</option>
                                            <option value="Saudi Arabia" <?php echo (isset($country) && $country == 'Saudi Arabia')?'selected="selected"':''; ?>>Saudi Arabia</option>
                                            <option value="Senegal" <?php echo (isset($country) && $country == 'Senegal')?'selected="selected"':''; ?>>Senegal</option>
                                            <option value="Serbia" <?php echo (isset($country) && $country == 'Serbia')?'selected="selected"':''; ?>>Serbia</option>
                                            <option value="Seychelles" <?php echo (isset($country) && $country == 'Seychelles')?'selected="selected"':''; ?>>Seychelles</option>
                                            <option value="Sierra Leone"<?php echo (isset($country) && $country == 'Sierra Leone')?'selected="selected"':''; ?>>Sierra Leone</option>
                                            <option value="Singapore" <?php echo (isset($country) && $country == 'Singapore')?'selected="selected"':''; ?>>Singapore</option>
                                            <option value="Slovakia" <?php echo (isset($country) && $country == 'Slovakia')?'selected="selected"':''; ?>>Slovakia</option>
                                            <option value="Slovenia" <?php echo (isset($country) && $country == 'Slovenia')?'selected="selected"':''; ?>>Slovenia</option>
                                            <option value="Solomon Islands" <?php echo (isset($country) && $country == 'Solomon Islands')?'selected="selected"':''; ?>>Solomon Islands</option>
                                            <option value="Somalia" <?php echo (isset($country) && $country == 'Somalia')?'selected="selected"':''; ?>>Somalia</option>
                                            <option value="South Africa" <?php echo (isset($country) && $country == 'South Africa')?'selected="selected"':''; ?>>South Africa</option>
                                            <option value="Spain" <?php echo (isset($country) && $country == 'Spain')?'selected="selected"':''; ?>>Spain</option>
                                            <option value="Sri Lanka" <?php echo (isset($country) && $country == 'Sri Lanka')?'selected="selected"':''; ?>>Sri Lanka</option>
                                            <option value="Sudan" <?php echo (isset($country) && $country == 'Sudan')?'selected="selected"':''; ?>>Sudan</option>
                                            <option value="Suriname" <?php echo (isset($country) && $country == 'Suriname')?'selected="selected"':''; ?>>Suriname</option>
                                            <option value="Swaziland" <?php echo (isset($country) && $country == 'Swaziland')?'selected="selected"':''; ?>>Swaziland</option>
                                            <option value="Sweden" <?php echo (isset($country) && $country == 'Sweden')?'selected="selected"':''; ?>>Sweden</option>
                                            <option value="Switzerland" <?php echo (isset($country) && $country == 'Switzerland')?'selected="selected"':''; ?>>Switzerland</option>
                                            <option value="Syria" <?php echo (isset($country) && $country == 'Syria')?'selected="selected"':''; ?>>Syria</option>
                                            <option value="Tahiti" <?php echo (isset($country) && $country == 'Tahiti')?'selected="selected"':''; ?>>Tahiti</option>
                                            <option value="Taiwan" <?php echo (isset($country) && $country == 'Taiwan')?'selected="selected"':''; ?>>Taiwan</option>
                                            <option value="Tajikistan" <?php echo (isset($country) && $country == 'Tajikistan')?'selected="selected"':''; ?>>Tajikistan</option>
                                            <option value="Tanzania" <?php echo (isset($country) && $country == 'Tanzania')?'selected="selected"':''; ?>>Tanzania</option>
                                            <option value="Thailand" <?php echo (isset($country) && $country == 'Thailand')?'selected="selected"':''; ?>>Thailand</option>
                                            <option value="Togo" <?php echo (isset($country) && $country == 'Togo')?'selected="selected"':''; ?>>Togo</option>
                                            <option value="Tokelau" <?php echo (isset($country) && $country == 'Tokelau')?'selected="selected"':''; ?>>Tokelau</option>
                                            <option value="Tonga" <?php echo (isset($country) && $country == 'Tonga')?'selected="selected"':''; ?>>Tonga</option>
                                            <option value="Trinidad &amp; Tobago" <?php echo (isset($country) && $country == 'Trinidad &amp; Tobago')?'selected="selected"':''; ?>>Trinidad &amp; Tobago</option>
                                            <option value="Tunisia" <?php echo (isset($country) && $country == 'Tunisia')?'selected="selected"':''; ?>>Tunisia</option>
                                            <option value="Turkey" <?php echo (isset($country) && $country == 'Turkey')?'selected="selected"':''; ?>>Turkey</option>
                                            <option value="Turkmenistan" <?php echo (isset($country) && $country == 'Turkmenistan')?'selected="selected"':''; ?>>Turkmenistan</option>
                                            <option value="Turks &amp; Caicos Is" <?php echo (isset($country) && $country == 'Turks &amp; Caicos Is')?'selected="selected"':''; ?>>Turks &amp; Caicos Is</option>
                                            <option value="Tuvalu" <?php echo (isset($country) && $country == 'Tuvalu')?'selected="selected"':''; ?>>Tuvalu</option>
                                            <option value="Uganda" <?php echo (isset($country) && $country == 'Uganda')?'selected="selected"':''; ?>>Uganda</option>
                                            <option value="Ukraine" <?php echo (isset($country) && $country == 'Ukraine')?'selected="selected"':''; ?>>Ukraine</option>
                                            <option value="United Arab Erimates" <?php echo (isset($country) && $country == 'United Arab Erimates')?'selected="selected"':''; ?>>United Arab Emirates</option>
                                            <option value="United Kingdom" <?php echo (isset($country) && $country == 'United Kingdom')?'selected="selected"':''; ?>>United Kingdom</option>
                                            <option value="United States of America" <?php echo (isset($country) && $country == 'United States of America')?'selected="selected"':''; ?>>United States of America</option>
                                            <option value="Uraguay" <?php echo (isset($country) && $country == 'Uraguay')?'selected="selected"':''; ?>>Uruguay</option>
                                            <option value="Uzbekistan" <?php echo (isset($country) && $country == 'Uzbekistan')?'selected="selected"':''; ?>>Uzbekistan</option>
                                            <option value="Vanuatu" <?php echo (isset($country) && $country == 'Vanuatu')?'selected="selected"':''; ?>>Vanuatu</option>
                                            <option value="Vatican City State" <?php echo (isset($country) && $country == 'Vatican City State')?'selected="selected"':''; ?>>Vatican City State</option>
                                            <option value="Venezuela" <?php echo (isset($country) && $country == 'Venezuela')?'selected="selected"':''; ?>>Venezuela</option>
                                            <option value="Vietnam" <?php echo (isset($country) && $country == 'Vietnam')?'selected="selected"':''; ?>>Vietnam</option>
                                            <option value="Virgin Islands (Brit)" <?php echo (isset($country) && $country == 'Virgin Islands (Brit)')?'selected="selected"':''; ?>>Virgin Islands (Brit)</option>
                                            <option value="Virgin Islands (USA)" <?php echo (isset($country) && $country == 'Virgin Islands (USA)')?'selected="selected"':''; ?>>Virgin Islands (USA)</option>
                                            <option value="Wake Island" <?php echo (isset($country) && $country == 'Wake Island')?'selected="selected"':''; ?>>Wake Island</option>
                                            <option value="Wallis &amp; Futana Is" <?php echo (isset($country) && $country == 'Wallis &amp; Futana Is')?'selected="selected"':''; ?>>Wallis &amp; Futana Is</option>
                                            <option value="Yemen" <?php echo (isset($country) && $country == 'Yemen')?'selected="selected"':''; ?>>Yemen</option>
                                            <option value="Zaire" <?php echo (isset($country) && $country == 'Zaire')?'selected="selected"':''; ?>>Zaire</option>
                                            <option value="Zambia" <?php echo (isset($country) && $country == 'Zambia')?'selected="selected"':''; ?>>Zambia</option>
                                            <option value="Zimbabwe" <?php echo (isset($country) && $country == 'Zimbabwe')?'selected="selected"':''; ?>>Zimbabwe</option>

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender">Gender</label>&nbsp
                                        <span class="error">* <?php echo $genderErr;?></span>
                                        <div class="radio">
                                            <label><input type="radio" name="gender" value="male" <?php if (isset($gender) && $gender == 'male') echo "checked";?>  >Male</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="gender" value="female" <?php if (isset($gender) && $gender == 'female') echo "checked";?>  >Female</label>
                                        </div>

                                    </div>

                                    <!--                                    <div class="form-group">
                                                                            <label for="upload">Profile Picture</label>
                                                                            <input type="file" id="upload">
                                                                        </div>-->

                                    <input type="submit" name="submit" value="Submit" />
                                </form>
                            </div>
                        </div>




                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <address><center> <strong>All rights Reserved ©</strong><br /> Powered by ITI Open Source Forum Software<br /></center></address>
                            </div>
                        </div>
                    </div>
                </body>
                </html>

