
                                <form role="form" action="../../php/users/validate.php" method="get">
                                    <!--<button type="button" class="btn btn-lg btn-link">Add User</button>-->
                                    <input type="submit" value="Add New User" name="submit" class="btn btn-lg btn-link"/>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    UserName
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    State
                                                </th>
                                                <th>
                                                    Role
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            if($row_num > 0){
                                            for ($i = 0; $i < $row_num; $i++) {
                                            $row = mysqli_fetch_assoc($result);
                                            ?>
                                            <tr>
                                                <td><a href="../../php/users/validateProfile.php?id='<?php echo $row['id'] ?>'"><?php echo $row['user_name']; ?></a></td>
                                                <td><?php echo $row['email']; ?></td>
                                                <td><a href="../../php/users/user-role.php?id='<?php echo $row['id'] ?>'"><?php  if($row['role']==1){echo 'Admin';}else{echo 'User';}; ?></a></td>
                                                <td><a href="../../php/users/user-state.php?id='<?php echo $row['id'] ?>'"><?php  if($row['active']==1){echo 'Active';}else{echo 'Not Active';}; ?></a></td>
                                                <td><a href="../../php/users/deleteUsers.php?id='<?php echo $row['id'] ?>'">Delete User</a></td>
                                            </tr>
                                            <?php }}else{ ?>
                                            <div class="alert alert-dismissable alert-info">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <h4>
                                                    Opps!
                                                </h4> <strong>There are No Users yet!</strong><br/>
                                                <a href="#" class="alert-link">Home Page</a>
                                            </div>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <address><center> <strong>All rights Reserved ©</strong><br /> Powered by ITI Open Source Forum Software<br /></center></address>
                            </div>
                        </div>
                    </div>
                </body>
                </html>