
<!--<?php include '../../php/users/validateProfile' ?>-->

<div class="row clearfix">
    <div class="col-md-12 column" style="width:50%; height:100%;">
        <form role="form" action="../../php/users/editUsers.php?id='<?php echo $target_id; ?>'" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <img alt="140x140" src="<?php echo $img ?>" />
            </div>

            <div class="form-group">
                <label for="fname">First Name</label>&nbsp
                <input type="text" class="form-control" name="fname" value="<?php echo $fname;?>" disabled />

            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>&nbsp
                <input type="text" class="form-control" name="lname" value="<?php echo $lname;?>" disabled />

            </div>

            <div class="form-group">
                <label for="uname">Username</label>&nbsp
                <input type="text" class="form-control" name="uname" value="<?php echo $uname;?>" disabled >

            </div>

            <div class="form-group">
                <label for="email">Email address</label>&nbsp
                <input type="email" class="form-control" name="email" id="email" value="<?php echo $email;?>" disabled />

            </div>

            <div class="form-group">
                <label for="gender">Gender</label>&nbsp
                <input type="text" class="form-control" name="gender" value="<?php  if($gender==1){echo 'Male';}else{echo 'Female';}; ?>" disabled >

            </div>
            
            <div class="form-group">
                <label for="gender">Country</label>&nbsp
                <input type="text" class="form-control" name="country" value="<?php echo $country;?>" disabled >

            </div>
            
            <div class="form-group">
                <label for="role">Role</label>&nbsp
                <input type="text" class="form-control" name="role" value="<?php  if($role==1){echo 'Admin';}else{echo 'User';}; ?>" disabled >

            </div>
            
            <div class="form-group">
                <label for="state">State</label>&nbsp
                <input type="text" class="form-control" name="state" value="<?php  if($state==1){echo 'Active';}else{echo 'Inactive';}; ?>" disabled >

            </div>
            
            <div class="form-group">
                <label for="signature">Signature</label>&nbsp
                <input type="text" class="form-control" name="signature" value="<?php echo $signature;?>" disabled >

            </div>

            <?php
            if($_SESSION["user_id"] == $target_id){
            ?>
            
            <input type="submit" name="submit" value="Edit" />
            <?php
            }
            ?>
            
        </form>
    </div>
</div>




<div class="row clearfix">
    <div class="col-md-12 column">
        <address><center> <strong>All rights Reserved ©</strong><br /> Powered by ITI Open Source Forum Software<br /></center></address>
    </div>
</div>
</body>
</html>