
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    
                    
                    <form role="form" style="width: 70%" action="../../php/forum/edit-forum.php" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value=<?php echo $title; ?>>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>

                            <textarea class="form-control" id="description" name="description" style="height: 200px" ><?php echo $description; ?></textarea>
                        </div>
                        <input  type="hidden" name="categoryId" value= <?php echo $category_id; ?> >
                        <input  type="hidden" name="id" value=<?php echo $id; ?> >
                        <button type="submit" class="btn btn-default" name="submit">Edit</button>
                    </form>
                </div>
            </div>
        </div>
