


        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3>
                       <?php  echo categoryName($category_id); ?>
                    </h3>
<?php if (isset($_SESSION["user_id"])&$_SESSION["user_role"]==1) {
         echo " <a class='btn btn-default' role='button' href='../../php/forum/add_forum.php?id= $category_id '> New Forum</a>";
}
?>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>

                                <th style="width: 10%; text-align: center;" >
                                    Title
                                </th>
                                <th style="width: 20% ; text-align: center;">
                                    Description
                                </th>
                                
                                <?php if (isset($_SESSION["user_id"])&$_SESSION["user_role"]==1) {

                                
                         echo"       <th style='width: 10% ; text-align: center;'>

                                    Action
                                </th>";
                               } ?>
                            </tr>
                        </thead>
                        <tbody>
                           
                            
                   
