
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    
                    
                    <form role="form" style="width: 70%" action="../../php/topic/edit-topic.php" method="post">
                        <div class="form-group">
                            <label for="subject">subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" value=<?php echo $subject; ?>>
                        </div>
                        <div class="form-group">
                            <label for="body">Body</label>

                            <textarea class="form-control" id="body" name="body" style="height: 200px" ><?php echo $body; ?></textarea>
                        </div>
                        <input  type="hidden" name="id" value=<?php echo $id; ?> >
                                <input  type="hidden" name="fid" value=<?php echo $fid; ?> >
                        <button type="submit" class="btn btn-default" name="submit">Edit</button>
                    </form>
                </div>
            </div>
        </div>

