
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
                    <h3>
                       <?php  echo forumName($forum_id); ?>
                    </h3>

            <!--                    <a class="btn btn-default " href="../../php/topic/add_topic.php" role="button">New Topic</a>-->
            <?php
             if (isset($_SESSION["user_id"])&isForumActive($forum_id)&$_SESSION["user_active"]==1) {
            echo " <a class='btn btn-default' role='button' href='../../php/topic/add_topic.php?fid=$forum_id'> New Topic</a>";
            }
            ?>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>

                        <th style="width: 60%; text-align: center;" >
                            Topic
                        </th>
                        <th style="width: 5% ; text-align: center;">
                            Replies
                        </th>

                        <th style="width: 5% ; text-align: center;">
                            Views
                        </th>
                        <th style="width: 10% ; text-align: center;">

                            Author
                        </th>
                        <!--                                <th style="width: 10% ; text-align: center;">
                        
                                                            Action
                                                        </th>-->
                        <?php if (isset($_SESSION["user_id"])&$_SESSION["user_role"]==1) {


                        echo"       <th style='width: 10% ; text-align: center;'>

                        Action
                        </th>";
                       } ?>
                    </tr>
                </thead>
                <tbody>